._liked-songs {
    color: white;
    font-family: "helvetica";
}
h2, p {
    color: white;
    font-family: "helvetica";
}
._liked-container {
    background-color: #121212;
    border-radius: 20px;
    width: 100%;
    padding: 20px 10px;
    flex-basis: 25%;
}
#_liked-track {
    margin-left: 15px;
}